body{
    background: linear-gradient(160deg, #0093E9, #80D0C7);
}
.but{
    font-family: "Stencil";
    font-size: 40px;
    border: 8px ridge #41F3FF;
    color: white;
    background: #222222;
    height: 80px;
    width: 170px;
    border-radius: 10px;
}


.vr{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectsong {
    margin: 7px;
    border: 2px ridge #41F3FF;
    border-radius: 3px;
    color: white;
    background: -webkit-gradient(linear, left top, left 25, from(#333333), color-stop(4%, #000000), to(#333333));
    width:150px;
}

.t{
    background: #222222;
}
